---
const personalImageAlt = "Nico Placente";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Realicé una tecnicatura en Comunicación Multimedial, donde descubrí la
      Programación que se volvió mi pasión y mi trabajo además de la Producción
      Musical y la Edición de Video. Además <strong
        >junto a un grupo de amigos creamos un emprendimiento llamado <a
          href="https://codeluxe.tech"
          target="_blank"
          class="underline hover:opacity-70 transition-opacity">CODELUXE</a
        >, donde brindamos servidios sobre Desarrollo Web Full Stack, Producción
        Musical y Edición de Video</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Ser uno de los mejores promedios en Henry lo cual me hizo formar parte
        de una pasantía en AWAQ ACI, Empresa Multinacional, recibir un
        certificado de graduación de Henry y crear mi propio Emprendimiento
        donde puedo vivir de lo que amo</strong
      >.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    title={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
