---
const personalImageAlt = "Nico Placente";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Realicé una tecnicatura en <strong>Comunicación Multimedial</strong>,
      donde descubrí la programación, que se volvió mi
      <strong>pasión y trabajo, además de la producción musical</strong>.
      También, junto a un amigo creamos un emprendimiento llamado
      <a
        href="https://codeluxe.tech"
        target="_blank"
        class="underline hover:opacity-70 transition-opacity">CODELUXE</a
      >, donde brindamos servicios sobre
      <strong>desarrollo de aplicaciones web personalizadas</strong>, producción
      musical y edición de video.
    </p>

    <p>
      Tengo experiencia en tecnologías como
      <strong
        >Next.js, React, TypeScript, JavaScript, Redux-Toolkit, Node.js, Prisma,
        PostgreSQL</strong
      >, y
      <strong>MongoDB</strong>, entre otras, y estoy seguro de que mis
      habilidades pueden
      <strong>contribuir al crecimiento de su equipo.</strong>
    </p>

    <p>
      Además, puedo <strong>adaptarme fácilmente a nuevas tecnologías</strong> en
      caso de ser requerido.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    title={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
