---
const personalImageAlt = "Nico Placente";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Realicé una <strong>tecnicatura en Comunicación Multimedial</strong>,
      donde descubrí la
      <strong>Programación</strong> que se volvió mi <strong
        >pasión y mi trabajo</strong
      > además de la <strong>Producción Musical y la Edición de Video</strong>.
      Además junto a un grupo de amigos creamos un emprendimiento llamado
      <a
        href="https://codeluxe.tech"
        target="_blank"
        class="underline hover:opacity-70 transition-opacity"
        ><strong>CODELUXE</strong></a
      >, donde brindamos servicios sobre <strong
        >Desarrollo Web Full Stack</strong
      >, <strong>Producción Musical</strong> y <strong>Edición de Video</strong
      >.
    </p>

    <p>
      Tengo experiencia en tecnologías como <strong
        >Next, React, TypeScript, JavaScript, Redux-Toolkit, Node.js, Prisma,
        PostgreSQL, MongoDB</strong
      >, entre otras, y <strong
        >estoy seguro de que mis habilidades pueden contribuir al crecimiento de
        su equipo.</strong
      >
    </p>

    <p>
      Además <strong>puedo adaptarme fácilmente a nuevas tecnologías</strong> en
      caso de ser requerido.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    title={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
