---
const personalImageAlt = "Nico Placente";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-[1lh] [&>p]:text-sm [&>p]:text-pretty [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong
        >Productor musical, <strong class="text-red-400 font-bold"
          >bombero voluntario</strong
        > y desarrollador fullstack</strong
      > especializado en frontend, con foco en experiencia de usuario, rendimiento,
      accesibilidad y SEO.
    </p>

    <p>
      Trabajo con Next.js, Astro, Tailwind, TypeScript, PostgreSQL y Prisma,
      entre otras tecnologías. <strong>Más de 3 años de experiencia</strong> en la
      creación de portfolios profesionales, identidad visual y estrategias de marketing
      digital para que creativos y profesionales consigan clientes o empleo de manera
      autónoma.
    </p>

    <p>
      Desde
      <a
        href="https://codeluxe.vercel.app"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="hover:underline text-yellow-500 dark:text-yellow-100 font-semibold"
        >Codeluxe</a
      > desarrollo proyectos freelance que incluyen portfolios optimizados, guías
      de marketing digital y <strong>apps web personalizadas</strong>.
    </p>

    <p>
      Disfruto transformar ideas en productos funcionales y bien diseñados.
      Busco integrarme a un equipo donde pueda seguir creciendo, aportar valor
      real y asumir nuevos desafíos. <strong
        >Me adapto fácilmente a nuevas tecnologías según las necesidades del
        proyecto.</strong
      >
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    title={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
