---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Emprendimiento Freelance",
    company: "Codeluxe",
    description:
      "Codeluxe es un emprendimiento freelance cofundado junto a mi socio, enfocado en el desarrollo de aplicaciones web personalizadas y marketing digital con enfoque en copywriting persuasivo.",
    link: "https://codeluxe.tech/",
  },
  // {
  //   date: "Agosto 2025",
  //   title: "Seguridad",
  //   company: "Tech Security SRL",
  //   description:
  //     "Personal de seguridad en Tech Security, brindando servicios como contratista para la empresa Smurfit Kappa.",
  //   link: "https://www.techsecuritysrl.com/",
  // },
  {
    date: "Enero 2024",
    title: "Prácticas Laborales",
    company: "Awaq ACI",
    description:
      "Responsable de Frontend, diseño y comunicación en una pasantía para una ONGD multinacional. Trabajé con tecnologías como TypeScript, React, Redux y Tailwind CSS, y colaboré en el despliegue mediante Azure. Formé parte de un equipo de 7 personas, desarrollando soluciones durante el período comprendido entre el 6 de enero y el 9 de febrero de 2024.",
    link: "https://www.linkedin.com/in/nicoplacente/details/recommendations/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
