---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    title: "Certificado de Prácticas Laborales",
    empresa: "Awaq ACI",
    description:
      "Reponsable de Frontend, diseño y comunicación. Trabajando con TypeScript, React, Redux, Tailwind y Azure para el deploy. Un equipo de 7 personas realizamos la pasantia de esta ONGD Multinacional que duró desde el 6 de enero hasta el 9 de febrero de 2024",
    link: "https://www.somosawaq.org/",
    img: "/DiplomaAwaq.png"
  },
  {
    title: "Certificado de Graduación",
    empresa: "Henry",
    description:
      "Certificado de Desarrollador Full Stack con +800 horas de cursada con teoria y ejercicios practicos individuales y grupales donde aprendimos HTML, CSS, JavaScript, React, Redux, Nodejs, Express, Sequelize, PostgreSQL, etc...",
      link: "https://www.soyhenry.com/",
      img: "/DiplomaHenry.png"
  },
]
---

  {
    EXPERIENCIE.map((experiencie) => (
      <div class="my-12">
        <ExperienceItem {...experiencie} />
      </div>
    ))
  }
