<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="hover:opacity-80 inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition-all bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md dark:hover:bg-gray-900 hover:bg-gray-200 dark:hover:border-gray-700 hover:border-gray-100 group max-w-fit dark:hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 dark:active:bg-black active:bg-white cursor-pointer"
>
  <slot />
</a>
